.header-profile-btn {
    display: flex;
    cursor: pointer;
}
.header-user-simple-profile {
    width: auto;
    height: auto;
    padding: 20px 10px;
    background-color: #f9fcff;
    position: absolute;
    right: 20px;
    margin-top: 10px;
    border: 1px solid grey;
}
@media (max-width: 1023px) {
    .header-profile-btn {
        display: none;
    }
}
